/*** uncss> filename: http://localhost:5050/s/styl.css ***/
#bg_footer {
    display: none;
}

#footer {
    display: none;
}

#bb_tools {
    display: none;
}

.com {
    display: none;
}

html {
    height: 100%
}

body {
    margin: 0px;
    background-color: #FFFFFF;
    padding: 0px;
    font-family: Tahoma, Arial, sans-serif !important
}

div {
    border: 0px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    color: #444444;
    line-height: 15px
}

a {
    color: #666666;
    text-decoration: none
}

a:hover {
    color: #444444
}

img {
    border: 0px
}

table, td {
    border: 1px;
    padding: 0px;
    margin: 0px;
    font-family: Tahoma, Arial, sans-serif !important;
    border: 0px;
    font-size: 11px;
    line-height: 15px
}

.s_px {
    background-image: url(/i/blog/styl/bblog/sep.gif);
    background-repeat: no-repeat;
    background-position: 0px 4px
}

.px {
    background-image: url(/i/blog/styl/bblog/px.gif);
    background-repeat: repeat-x;
    background-position: bottom
}

.ov_h {
    overflow: hidden
}

.c_gray {
    color: #777777 !important
}

.c_white {
    color: #FFFFFF !important
}

.c_red {
    color: #CC0000 !important
}

.c_black {
    color: #111111 !important
}

.ov_h {
    overflow: hidden
}

.f_tahoma {
    font-family: Tahoma, Arial, sans-serif !important
}

.f10 {
    font-size: 10px
}

.f11 {
    font-size: 11px
}

.f12 {
    font-size: 12px;
    line-height: 18px;
}

.f18 {
    font-size: 18px;
    line-height: 22px;
}

.m5l {
    margin-left: 5px !important
}

.m5r {
    margin-right: 5px !important
}

.m5t {
    margin-top: 5px !important
}

.m5b {
    margin-bottom: 5px !important
}

.m10l {
    margin-left: 10px !important
}

.m10r {
    margin-right: 10px !important
}

.m10t {
    margin-top: 10px !important
}

.m15b {
    margin-bottom: 15px !important
}

.p3 {
    padding: 3px !important
}

.p8 {
    padding: 8px !important
}

.p10 {
    padding: 10px !important
}

.p5l {
    padding-left: 5px !important
}

.p5b {
    padding-bottom: 5px !important
}

.p5r {
    padding-right: 5px !important
}

.p5t {
    padding-top: 5px !important
}

.p10l {
    padding-left: 10px !important
}

.p10b {
    padding-bottom: 10px !important
}

.p10r {
    padding-right: 10px !important
}

.p10t {
    padding-top: 10px !important
}

.p15l {
    padding-left: 15px !important
}

.p15b {
    padding-bottom: 15px !important
}

.p15r {
    padding-right: 15px !important
}

.p15t {
    padding-top: 15px !important
}

.p20l {
    padding-left: 20px !important
}

.p20r {
    padding-right: 20px !important
}

.p20t {
    padding-top: 20px !important
}

.p25l {
    padding-left: 25px !important
}

.p30l {
    padding-left: 30px !important
}

.bg_c_white {
    background-color: #ffffff !important
}

.bg_c_d_blue {
    background-color: #3a4e60 !important
}

.bg_c_l_blue {
    background-color: #f1f5f8 !important
}

.d_b {
    display: block
}

.c_b {
    clear: both
}

.l_h20 {
    line-height: 20px
}

.l_h1 {
    line-height: 1px
}

.fl_r {
    float: right
}

.fl_l {
    float: left
}

.m_a {
    margin: auto
}

.b {
    font-weight: bold
}

.nb {
    font-weight: normal
}

.nu {
    text-decoration: none !important
}

.sep_px_g {
    background-image: url(/i/blog/styl/standard/px_line_g.gif);
}

.arrow3 {
    background-image: url(/i/blog/styl/standard/arrow3.gif);
    background-repeat: no-repeat;
    background-position: 12px 9px
}


.b_all {
    border: 1px solid #dedede
}

.bb {
    border-bottom: 1px solid #cccccc !important
}

.bt_w {
    border-top: 1px solid #ffffff !important
}

.d_b {
    display: block
}

.c_b {
    clear: both
}

.prev {
    background: url(/i/blog/styl/standard/prev.gif) no-repeat 0 .4em;
    padding-left: 8px
}


#mny_header {
    background-color: #f1f1f1;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff
}

#bb_tools {
    float: right;
    width: 130px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee !important;
    margin-left: 8px;
    margin-top: 5px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif
}

#post #bb_tools {
    float: right;
    width: 130px;
    background-color: #FFFFFF;
    border: 1px solid #eeeeee;
    margin-left: 8px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 9px !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif
}

.t_glos {
    float: left;
    padding: 4px 9px 0px 6px;
}

#vote_graph {
    border: 1px solid #dddddd !important;
    float: left;
    margin-top: 8px;
    width: 115px !important;
}

#post #bb_tools #vote_graph {
    line-height: 7px !important;
    border: 1px solid #dddddd !important;
    float: left;
    margin-top: 8px;
    width: 115px !important;
}

#vote_graph td {
    line-height: 7px !important
}

#post #bb_tools #vote_graph td {
    padding: 0px !important;
    line-height: 7px !important
}

#footer {
    width: 740px;
    margin: auto
}

/*** uncss> filename: http://localhost:5050/s/blog_4_styl.css ***/
.c_turkus {
    color: #3b5971 !important
}

.c_l_blue {
    color: #d2dce4 !important
}

.bg_c_turkus {
    background-color: #d2dce4 !important
}

.bg_c_d_blue {
    background-color: #3a4e60 !important
}

.bg_c_l_blue {
    background-color: #f1f5f8 !important
}

#blog_top {
    margin: auto;
    background-color: #213141;
    height: 151px;
    background-image: url(/i/blog/styl/testowy4/top.jpg);
    background-repeat: no-repeat;
    background-position: center
}

#blog_title {
    margin: auto;
    width: 680px;
    font-size: 36px;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: Tahoma, sans-serif
}

#blog_title a {
    color: #ffffff;
}

#blog_subtitle {
    padding-bottom: 5px;
    margin: auto;
    width: 680px;
    font-size: 18px !important;
    color: #e1e8ee !important;
    font-family: Tahoma, sans-serif !important
}

#blog_menu a {
    width: 153px;
    display: block;
    padding: 10px;
    padding-left: 15px;
    font-size: 11px;
    font-weight: bold;
    background-image: url(/i/blog/styl/standard/arrow1.gif);
    background-repeat: no-repeat;
    background-position: 0px 50%
}

#blog_menu a:hover {
    color: #1c2d3b;
    background-color: #f1f5f8
}

#blog_archiwum span {
    width: 153px;
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    background-image: url(/i/blog/styl/standard/arrow1.gif);
    background-repeat: no-repeat;
    background-position: 0px 12px
}

.arrow4 {
    background-image: url(/i/blog/styl/testowy4/arrow4.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px
}

.arrow5 {
    background-image: url(/i/blog/styl/testowy4/arrow5.gif);
    background-repeat: no-repeat;
    background-position: 4px 7px
}

.bg_content {
    background-image: url(/i/blog/styl/testowy4/content_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px
}

.a_links {
    background-image: url(/i/blog/styl/testowy4/a_link.gif);
    background-repeat: no-repeat;
    background-position: 6px 6px
}

.a_links2 {
    background-image: url(/i/blog/styl/testowy4/a_link.gif);
    background-repeat: no-repeat;
    background-position: 6px 9px
}

#post, #post div {
    text-indent: 0pt !important;
    font-size: 12px !important;
    color: #333333;
    line-height: 17px;
    font-family: Tahoma, Arial, sans-serif !important;
}

#post a {
    color: #38648b !important;
    text-decoration: underline !important
}

#post a:hover {
    color: #407cb2 !important
}

#post table td {
    font-size: 11px !important;
    padding: 3px !important
}

#post table {
    font-size: 11px !important;
    margin-top: 10px;
    margin-bottom: 10px
}

#mny_header .mny_logo {
    margin: auto;
    width: 725px;
}

#comments .hd3 {
    border-bottom: 1px solid #fff;
    clear: both;
    font-weight: bold;
    background-image: url(/i/blog/styl/testowy4/arrow4.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 8px;
    background-color: #3a4e60 !important;
    padding-left: 25px
}

/*CON*/

/*TABELKI i DIVy*/
/*forum*/
.ns2 {
    color: #1c2d3b;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    padding-left: 0px;
    line-height: 24px
}

.wbl {
    clear: both
}

.bar2 {
    float: left;
    padding-left: 15px;
    display: block;
    padding-top: 4px
}

.bar3 {
    float: right;
    display: block;
    padding-right: 15px;
    padding-top: 4px
}

.tab5 {
    float: left;
}

.tab5 table {
    border: 0px;
    width: 460px;
    color: #4C4C4C;
    border-bottom: 1px solid #ECECEC !important;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.tab5 table td {
    border: 0px;
    clear: both;
    padding: 0px;
    vertical-align: top;
    padding: 4px 4px 4px 0px;
}

.tab5 .w20s1 {
    width: 20px;
    background: #FFFFFF url(/i/i/sheet.gif) no-repeat 5px 7px;
    border-left: 1px solid #ECECEC
}

.tab5 .w20s2 {
    width: 20px;
    background: #FFFFFF url(/i/i/2sheets.gif) no-repeat 4px 6px;
    border-left: 1px solid #ECECEC
}

.com, .com1 {
    font-weight: bold;
    color: #3b5971
}

.com, .com1 {
    padding: 3px 5px 4px 19px;
    float: right;
    background: url(/i/i/comment.gif) no-repeat 3px 4px;
}

.com1 {
    padding: 0px 5px 0px 19px;
    background-position: 3px 2px;
}


/*belka narzedzi forum*/
.tF {
    height: 25px;
    display: none;
    width: 100%;
    padding: 3px 0 4px 0;
    background-color: #F6F5F5;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #E3E3E3;
    font: bolder 12px Arial, sans-serif;
}

.tF a {
    color: #4C4C4C
}

.user {
    color: #E07049 !important
}

/*PADDINGI I MARGINESY*/

/*FORMULARZE*/

/* Ribbon */
#archive a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#archive a:hover {
    background: #c11;
    color: #fff;
}

#archive a::before, #archive a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#archive a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width: 800px) {
    #archive {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    #archive a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}